@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(240, 240, 240);
  font-family: 'Noto Sans', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans TC';
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  color: unset;
  box-sizing: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
