@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-0/6 text-white;
  font-family: 'Noto Sans', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans TC';
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  color: unset;
  box-sizing: inherit;
  text-decoration: inherit;
}
